parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

